@media screen  and (min-width: 768px) {
    #header {
        border: 2px solid #5E17EB;
        background-color: #171515;
        margin-top: -16px;
        padding: -50px;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    .header-title {
        width: 100px;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-text-stroke: 1px #5E17EB;
        color: white;
    }
    
    .routes-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 270px;
        margin-right: 26px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;    
    }
    
    .icon-image {
        width: 26px;
        height: 26px;
        align-self: center;
        margin-left: 26px;
    }

    .nav-btn-div {
        display: none;
    }

    .nav-menu-option:hover {
        box-shadow: 2px 2px 10px #5E17EB;
    }

    .nav-menu-option {
        text-decoration: none;
        color: white;
    }
    
}


@media screen and (max-width: 768px) {
    #header {
        border: 2px solid #5E17EB;
        background-color: #171515;
        margin-top: -16px;
        padding: -50px;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .header-title {
        width: 100px;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-text-stroke: 1px #5E17EB;
        color: white;
    }

    .routes-container {
        display: none;
    }

    .icon-image {
        width: 26px;
        height: 26px;
        align-self: center;
        margin-left: 26px;
    }

    .block-nav-bar {
        border: solid 2px #5E17EB;
        color: white;
        background-color: #171515;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 290px;
        margin-left: -243px;
        margin-top: 14px;
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;

    }
    
    .nav-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
    }

    .nav-btn-div {
        align-self: center;

    }

    .nav-img {
        width: 49px;
        height: 49px;
    }

    .nav-img:active {
        margin: 1px 1px 0;
        box-shadow: 1px 1px 4px #5E17EB;
    }

    .nav-menu-option:active {
        padding: 4px;
        box-shadow: 2px 2px 10px #5E17EB;
    }
    
}