@media screen and (min-width: 768px) {
    #about-me-page {
        display: flex;
        background-color: #171515;
    }
    
    .roge-photo {
        width: 542px;
        height: 100%;
        filter: grayscale(100%) opacity(30%);
    }

    .roge-name-div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #171515;
        border: 2px solid #5E17EB;
        box-shadow: 2px 3px 30px #5E17EB;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        align-self: center;
        margin-left: -80px;
    }
    
}

@media screen and (max-width: 768px) {
    #about-me-page {
        background-color: #171515;
    }
    
    .roge-photo {
        width: 400px;
        height: 100%;
        filter: grayscale(100%) opacity(30%);
    }
}
